@{
    ViewData["Title"] = "Index";
}

<h2>Liste des clients inscrits dans la base de donnée</h2>

@(Html.DevExtreme().DataGrid<Pickleball_project.Models.Client>()
    .DataSource(ds => ds.Mvc()
        .Controller("ApiClients")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("id")
    )
    .SearchPanel(s => s.Visible(true))
    .RemoteOperations(true)
    .ShowBorders(true)
    .ShowColumnLines(false)
    .ShowRowLines(false)
    .RowAlternationEnabled(true)

    .Pager(p =>
    {
        p.ShowNavigationButtons(true);
    })
    .Columns(columns => {

        @*columns.AddFor(m => m.id);*@

        columns.AddFor(m => m.Firstname);

        columns.AddFor(m => m.Lastname);

        columns.AddFor(m => m.Gender).Width(30);

        columns.AddFor(m => m.Birthdate);

        columns.AddFor(m => m.Email);

        columns.AddFor(m => m.Adress);

        columns.AddFor(m => m.City);

        columns.AddFor(m => m.Zip);

        columns.AddFor(m => m.Country);

        columns.AddFor(m => m.PhoneNumber);

        columns.AddFor(m => m.FirstNameEmergencyContact);

        columns.AddFor(m => m.LastNameEmergencyContact);

        columns.AddFor(m => m.EmergencyPhone);

        columns.AddFor(m => m.PlayedCategory).Width(30);

        columns.AddFor(m => m.Group);
    })
    .Editing(e => e.Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .UseIcons(true)
        .Popup(p => p
            .Title("Client Info")
            .ShowTitle(true)
            .Width(700)
            .Height(525)
    )
)
    )
